.section1 {
    background: linear-gradient(to right, #6eda78, #ffa200);
}

.form_container {
    margin-bottom: 20px !important;
}

.form_data {
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
}